<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('图书借阅报表')"/>

</head>
<body class="gray-bg">

<div class="container-div">


    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="post-form">
                <div class="select-list">
                    <ul>
                        <li>
                            借阅卡编号：<input type="text" name="cardId"/>
                        </li>
                        <li>
                            书籍编号：<input type="text" name="bookId"/>
                        </li>
                        <li class="select-time">
                            <label>借阅时间：</label>
                            <input type="text" class="time-input" id="borrowStartTime" name="borrowStartTime"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="borrowEndTime" name="borrowEndTime"/>
                        </li>
                        <li class="select-time">
                            <label style="width: 91px;">预定归还时间：</label>
                            <input type="text" class="time-input" id="startTime" name="startTime"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" name="endTime"/>
                        </li>
                        <li class="select-time">
                            <label style="width: 91px;">实际归还时间：</label>
                            <input type="text" class="time-input" id="returnStartTime" name="returnStartTime"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="returnEndTime" name="returnEndTime"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>

        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.modal.openFull('报表视图','books/borrowtable/echarts')" shiro:hasPermission="books:borrowtable:echarts">
                <i class="fa fa-plus"></i> 查看视图
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="books:borrowtable:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">

    var prefix = ctx + "books/borrowtable";

    $(function () {
        var options = {
            url: prefix + "/list",
            exportUrl: prefix + "/export",
            modalName: "信息",
            columns: [{
                checkbox: true
            },
                {
                    field: 'cardId',
                    title: '借阅证编号',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'bookId',
                    title: '图书编号',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'borrowDate',
                    title: '借阅时间',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'endDate',
                    title: '截止时间',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'returnDate',
                    title: '归还时间',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'illegal',
                    title: '违章时间',
                    align: 'center',
                    sortable: true
                }]
        };
        $.table.init(options);
    });
    $(document).ready(function() {
        $('.hover-trigger').hover(
            function() {
                // 当鼠标悬停在.hover-trigger上时
                var $this = $(this); // 当前hover的.hover-trigger元素
                $this.closest('li').find('.hid-show').show(); // 找到最近的li元素内的.hid-show并显示它
            },
            function() {
                // 当鼠标离开.hover-trigger时
                var $this = $(this); // 当前hover的.hover-trigger元素
                $this.closest('li').find('.hid-show').hide(); // 找到最近的li元素内的.hid-show并隐藏它
            }
        );
    });
</script>
</body>
</html>